body{
  background-color: rgb(169, 169, 169);
  padding-bottom: 100px;
  h1{
    text-align: center;
  }
  .monPanier {
    position: fixed;
    padding: 10px 15px;
    right: 0px;
    top: 0px;

    max-width: 200px;

    display: flex;
    flex-direction: column;

    color: rgb(255, 255, 255);
    background: rgba(107, 20, 165, 0.99);
    border-radius: 0 0 0 10px;
    border: 1px solid rgb(255, 255, 255);
    border-top: 0px;
    border-right: 0px;
    &:hover{
      background-color: black;
    }
    &:hover .hidden{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  
      width: fit-content;
      height: fit-content;
      // padding: 0px 10px 5px;
      
      position: relative;
      z-index: 3;
      p{
        display: flex;
        justify-content: left;
        align-items: center;

        white-space: nowrap;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 6px;
        .deletes{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15px;
          height: 10px;
          background-color: transparent;
          border: none;
          color: white;
          cursor: pointer;
        }
      }
    }
    h3{
      margin: 0;
    }
    
    .titlePrice{
      white-space: nowrap;
      width: 100%;
      margin: 0;
      padding: 8px 10px;
    }
  }
  .count {
    display: inline-block;
  }
  
  .hidden{
    display: none;
  }
  


  .wrapper{
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: .5rem;

    .shop{
      background-color: rgba(124, 35, 184, 0.764);
      width: fit-content;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 95%;
      padding: 8px;
      
      a{
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        color: black;
        font-weight: bold;
        margin: 5px;
        &:hover{
          text-decoration: underline;
        }
      }

      .itemImg{
        border: 2px solid black;
        width: 90%;
        aspect-ratio: 1 / 1;
      }

      .price{
        margin: 5px;
        font-size: 14px;
        font-weight: bold;
      }

      .select{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .addButtons{
          width: 70%;
          font-size: 10px;
          text-align: center;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          align-items: center;

          border: 2px solid rgb(110, 42, 155);
          background-color: rgb(110, 42, 155);
          color: white;
          border-radius: 5px;
          // padding: 0 20px;
          height: 25px;
          font-weight: bold;
          transition: all .15s ease-in-out;
          &:hover{
            border-color: rgb(102, 26, 153);
            background-color: rgb(102, 26, 153);
            transition: all .15s ease-in-out;
          }
          &:active{
            scale: 0.95;
            transition: all .15s ease-in-out;
          }
        }

        select{
          width: 25%;
          font-size: 10px;
          border: 2px solid rgb(110, 42, 155);
          background-color: rgb(110, 42, 155);
          color: white;
          border-radius: 5px;
          // padding: 3px 10px;
          height: 25px;
          font-weight: bold;
          transition: all .3s ease-in-out;
        }
      }
    }
  }
}

































